@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #0e0481b5;
    --clr-main-light: #0b0226;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}


aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.botonMenu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .95rem;

}

.active {  
    background-color: var(--clr-white);
    color: var(--clr-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.botonCarrito{ 
    margin-top: 2rem;
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: 0.90rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;

}

.tituloPrincipal, .carrito-vacio {
    color: var(--clr-main);
    margin-bottom: 1.5rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.contenedorDetalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.tituloProducto {
    font-size: 1rem;

}

.productoCarrito {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: solid var(--clr-white);
}

.productoCarrito:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
    transition: background-color 0.2s color 0.2s;
}



/**CARRITO**/
.disabled{ 
    display: none;
} 
/*codigo para oculta */


.contenedorCarrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: 0.75rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.botonCarritoeliminar {
    border: 0;
    background-color: transparent;
    color: red;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.vaciarCarrito {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    margin-top: 20px;
    
}

.carritoAcciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
    margin-top: 20px;
}

.carritoAccionescomprar {
    display: flex;
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-gray);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 20px;
}

.carrito-comprado{ 
    color: var(--clr-main);
}